<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a *ngIf="user2"class="navbar-brand" [routerLink]="['']">ORLIK FRONT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span *ngIf="user2"class="text-white mx-1" >Witaj, {{user2.surname}}</span>
    <button *ngIf="!user2"class="btn btn-info mx-1" data-toggle="modal" data-target="#loginModal">ZALOGUJ</button>
    <div *ngIf="userLogged"><a *ngIf="user2.isAdmin" class="btn btn-primary mx-1" href="//localhost:4300/"><i class="fa fa-cog"></i></a></div>
    <button *ngIf="user2"class="btn btn-warning mx-1" (click)="wyloguj()" >WYLOGUJ</button>
  </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div  *ngIf="modalMode.state==='login'" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">{{modalMode.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-group" (submit)="login(username,userPassword)">
                <input type="text" [(ngModel)]="username" name="name" class="form-control" placeholder="Login...">
               
              
                <input type="password" [(ngModel)]="userPassword"name="name" class="form-control" placeholder="Hasło...">
               
              <div class="row w-100">
                  <div class="col-6 py-2">
                      <span class="float-left">Nie masz jeszcze konta? <br/><a class="pointer" (click)="rejestracja()">Zarejestruj się</a></span>
      
                  </div>
                  <div class="col-6 py-2">
                <button type="submit" class="btn btn-primary float-right" (click)="login(username,userPassword)"data-dismiss="modal">ZALOGUJ</button>
                    
                    </div>
                </div>
              </form> 
        </div>

      </div>
    </div>
    <div  *ngIf="modalMode.state==='register'" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">{{modalMode.title}}</h5>
            <button type="button" class="close" (click)="logowanie()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="well">
              <form class="form-group">
                <input type="text" [(ngModel)]="user.name" name="name" class="form-control my-2" placeholder="Login">
                <input type="text" [(ngModel)]="user.surname" name="surname" class="form-control my-2" placeholder="Imię i nazwisko">
                <input type="text" [(ngModel)]="user.email" name="email" class="form-control my-2" placeholder="E-mail"> 
                <input type="password" [(ngModel)]="user.password" name="password" class="form-control my-2" placeholder="Hasło">
                <input type="text" [(ngModel)]="user.phone" name="phone" class="form-control my-2" placeholder="Telefon">
                <button type="submit" (click)="addUser(user); logowanie()" class="btn btn-primary text-uppercase">Zarejestruj</button>          
              </form>  
          </form>
          
          </div>
        </div>
      </div>
</div>