<h3>Skontaktuj się z nami!</h3>

  <div class="d-flex justify-content-center">
    
      <div class="card" style="width:200px; border-style: none;"> 
          <div class="card-body">
            <h5 class="card-title text-center">Radek</h5>
            <p class="d-flex justify-content-center">
              <a class="btn btn-primary mx-1" href="https://www.facebook.com/rexis.freshmaker" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-success mx-1" href="mailto:"><i class="far fa-envelope"></i></a>
              <a class="btn bg-light" href="skype:khaagu?call"><i class="fab fa-skype"></i></a>
            </p>
            
          </div>
        </div>
        
        <div class="card" style="width:200px; border-style: none;"> 
          <div class="card-body">
            <h5 class="card-title text-center">Mateusz</h5>
            <p class="d-flex justify-content-center">
              <a class="btn btn-primary mx-1" href="https://www.facebook.com/mateusz.szymanski.969" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-success mx-1" href="mailto:"><i class="far fa-envelope"></i></a>
              <a class="btn bg-light" href="skype:szymeek951?call"><i class="fab fa-skype"></i></a>
            </p>
            
          </div>
        </div>
      
        <div class="card" style="width:200px; border-style: none;"> 
          <div class="card-body">
            <h5 class="card-title text-center">Marcin</h5>
            <p class="d-flex justify-content-center">
              <a class="btn btn-primary mx-1" href="https://www.facebook.com/marcin.zapadka.31" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-success mx-1" href="mailto:"><i class="far fa-envelope"></i></a>
              <a class="btn bg-light" href="skype:marcinzapadka33?call"><i class="fab fa-skype"></i></a>
            </p>
            
          </div>
        </div>
        
        <div class="card" style="width:200px; border-style: none;"> 
          <div class="card-body">
            <h5 class="card-title text-center">Adam</h5>
            <p class="d-flex justify-content-center">
                <a class="btn btn-primary mx-1" href="https://www.facebook.com/a.sobiecki95" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-success mx-1" href="mailto:sobiecki95@gmail.com"><i class="far fa-envelope"></i></a>
                <a class="btn bg-light" href="skype:adam.sobiecki3?call"><i class="fab fa-skype"></i></a>
            </p>
          </div>
        </div>   
      
