
<div class="card-columns pt-3">
    <!-- <div class="card border-primary mb-3" >
      
      <div class="card-body text-primary">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card p-3 border-primary mb-3">
      <blockquote class="blockquote mb-0 card-body text-primary">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div> -->
    <!-- <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div> -->
  
    <!-- <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div> -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">UWAGA!</h5>
        <p class="card-text">Obiekt OLSZTYN KORTOWO będzie nieczynny dnia 28.01.2018! Będzie przeprowadzana konserwacja nawierzchni na wszystkich boiskach!</p>
        <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">UWAGA!</h5>
        <p class="card-text">W dniu 22.12.2017 obiekt OLSZTYN ŻOŁNIERSKA będzie nieczynny. Za wszelkie utrudnienia przepraszamy :)</p>
        <p class="card-text"><small class="text-muted">Last updated 2 weeks ago</small></p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PROMOCJA!</h5>
        <p class="card-text">W miesiącu styczniu wszystkie rezerwacje boisk do piłki siatkowej w godzinach 12:00 - 15:00 objętę będą 50% rabatem cenowym.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 month ago</small></p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TURNIEJ PREZYDENTA!</h5>
        <p class="card-text">Dnia 12.12.2017 na wszystkich orlikach w Olsztynie będzie rozgrywany turniej o Puchar Prezydenta miasta Olsztyn. Zapraszamy do kibicowania!</p>
        <p class="card-text"><small class="text-muted">Last updated 1 month ago</small></p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">POSZUKIWANY KONSERWATOR!</h5>
        <p class="card-text">Poszukujemy specjalisty do spraw konserwacji sztucznych nawierzchni. CV prosimy przesłać na adres biura.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 month ago</small></p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ŻYCZENIA ŚWIĄTECZNE!</h5>
        <p class="card-text">Z okazji zbliżajych się świąt Bożego Narodzenia ekipa Orlik Manager życzy wszystkiego najlepszego!</p>
        <p class="card-text"><small class="text-muted">Last updated 1 month ago</small></p>
      </div>
    </div>
  </div>